/*  your css code here. If applicable */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      section {
        font-family: sans-serif;
        width: 100%;
        height: 100vh;
        background-color: rgb(236, 236, 236);
        padding: 20px;
      }
      .testimonials-card {
        background-color: white;
        padding: 15px;
        margin-top: 15px;
        border: 1px solid #a3a2a2;
      }
      .author-name {
        text-align: right;
        font-style: italic;
      }